*.so
*/__pycache__/*
.git
.gitmodules
.gitignore
.github
*.pth
*.jpg
*.png
build/*
*.html
*.dvc/*
external/datasets/*
.mypy_cache/*
output/*
docker/*
.coverage
docs/
data/
*.onnx
experiments/
*.pth
.vscode/
.pytest_cache/
tmp/
!docker/requirements
*.pdf