numpy==1.17.0
opencv-python==4.2.0.34
torch==1.6.0
torchvision==0.7.0
matplotlib
tqdm
tb-nightly
future
Pillow
enforce
onnx==1.6.0
mypy
autopep8
pyyaml
easydict
pandas
comet_ml    
multipledispatch 
dvc[gs]
optuna
anytree
scipy
albumentations
pytest
pytest-cov
sklearn
flatten-dict
graphviz
seaborn
psutil
gpustat
thop
setuptools>=41.0.0
ray
# nvidia-dali-cuda100 # Cannot be installed via setuptools, spawn as subprocess pip installation in setup.py