numpy==1.17.0
opencv-python==4.2.0.34
torch<=1.6.0
torchvision<=0.7.0
matplotlib
enlighten
future
Pillow
enforce
onnx==1.6.0
mypy
pyyaml
easydict
pandas
comet_ml
multipledispatch 
dvc[gs]
optuna
anytree
scipy
albumentations
sklearn
flatten-dict
graphviz
seaborn
psutil
gpustat
thop
ray
sympy
pytorch_lightning==1.1.4
parse
# nvidia-dali-cuda100 # Cannot be installed via setuptools, spawn as subprocess pip installation in setup.py
